# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
data/raw/rasters/all.tif
data/raw/rasters/bwte.tif
data/raw/rasters/canv.tif
data/raw/rasters/dabblers.tif
data/raw/rasters/divers.tif
data/raw/rasters/gadw.tif
data/raw/rasters/mall.tif
data/raw/rasters/nopi.tif
data/raw/rasters/nsho.tif
data/raw/rasters/redh.tif
data/raw/tl-2025/TL_0.74.cpg
data/raw/tl-2025/TL_0.74.dbf
data/raw/tl-2025/TL_0.74.prj
data/raw/tl-2025/TL_0.74.sbn
data/raw/tl-2025/TL_0.74.sbx
data/raw/tl-2025/TL_0.74.shp
data/raw/tl-2025/TL_0.74.shx
